{
    "CN":"system:node:{{ansible_nodename}}",
    "key":{
        "algo":"rsa",
        "size":2048
    },
    "names":[
        {
            "C":"CN",
            "L":"BeiJing",
            "ST":"",
            "O":"system:nodes",
            "OU":"Kubernetes-manual"
        }
    ]
}
